<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página no encontrada</title>
    <link rel="stylesheet" href="/styles.css"> 
<body>
    <h1>404</h1>
    <p>"404: Tu héroe está incompleto. Asegúrate de que los poderes sean válidos y dignos de admiración."</p>
  
    <main>
    </form><br>
    <div class="cancelar">
        <button type="button" onclick="window.location.href='/dashboard'">Regresar</button>
    </div> 
    </main>
</body>
</html>

